.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.container h3 {
    padding: 15px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.171);
    box-sizing: border-box;
}

.containerButtons {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.button {
    border: 1px solid black;
    width: 60px;
    height: 50%;
    padding: 5px;
    cursor: pointer;
}


button {
    border: none;
}

.button:hover {
    background-color: red;
    transition: 700ms;
}

.done {
    background-color:  rgb(102, 189, 138);
}